Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["your-bucket-name"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  # Private key
  "/etc/pki/tls/private/server.key":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://hop-certificate.s3.eu-central-1.amazonaws.com/selfsigned.key

  # Certificate
  "/etc/pki/tls/certs/server.crt":
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://hop-certificate.s3.eu-central-1.amazonaws.com/selfsigned.crt

container_commands:
  01_configure_ssl:
    command: |
      mkdir -p /etc/ssl/private
      cp /etc/pki/tls/private/server.key /etc/ssl/private/
      cp /etc/pki/tls/certs/server.crt /etc/ssl/certs/
  02_restart_nginx:
    command: "service nginx restart"
